body {
    background: rgb(107, 107, 241);
    font-family:Georgia, 'Times New Roman', Times, serif

}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

#b1, #b2, #b3 {
    background-color: #6baef1;
    border-radius: 3px;
    box-shadow: 2px 2px 10px;
    
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}

#flista {
    width: 150px;
    color: red;
}

#fnum {
    width: 100px;
}